.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 600px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .cart-sidebar.open {
    right: 0;
  }
  
  .cart-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-sidebar-header h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .cart-sidebar-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .empty-cart {
    text-align: center;
    padding: 30px;
    color: #999;
  }
  
  .empty-cart-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .empty-cart h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .empty-cart p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .cartSidebar-btn {
    background-color: #999;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cartSidebar-btn:hover {
    background-color: #444;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h4 {
    font-size: 16px;
    margin: 0;
  }
  
  .cart-item-details p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .cart-item-details button {
    background-color: #ff4444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item-details button:hover {
    background-color: #cc0000;
  }
  
  .cart-sidebar-footer{
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    padding: 20px 0;
  }

  .cart-total{
    margin-bottom: 30px;
  }



  @media (max-width: 900px) {
    .cart-sidebar{
      width: 200px;
    }
  }