.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  color: gray;
  transition: color 0.3s ease;
}

.footer-column:hover {
  color: white;
}

.footer-column ul li {
  color: inherit;
  cursor: pointer;
  position: relative; 
  padding: 5px 0; 
}

.footer-column ul li::before {
  content: '•'; 
  position: absolute;
  left: -20px; 
  top: 40%; 
  transform: translateY(-50%);
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.footer-column ul li:hover::before {
  opacity: 1; 
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
    
.social-icons {
  max-width: 1500px;
  margin: 20px auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; 
  overflow: hidden; 
}

.social-icon {
  display: inline-block;
  background: none;
  border: 1px solid #999;
  border-radius: 50px; 
  border-color: #999;
  padding: 7px; 
  margin-right: 15px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1); 
  border: none;
}

.social-icon.instagram:hover {
  background: linear-gradient(100deg, #e03e9d, #FDCB82); 
}

.social-icon.telegram:hover {
  background: linear-gradient(135deg, #0088cc, #00B0FF); 
}

.social-icon.tiktok:hover {
  background: linear-gradient(135deg, #000000, #3D3D3D); 
}

.social-icon:hover svg {
  fill: #fff; 
}

.social-icon svg {
  width: 20px;
  height: 15px;
  color: #999; 
}

.social-icons::before, .social-icons::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 670px; 
  height: 2px; 
  background-color: #999;
  transition: all 0.3s ease;
}

.social-icons::before {
  left: -30px; 
  transform: translateY(-50%);
}

.social-icons::after {
  right: -30px; 
  transform: translateY(-50%);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}