.header{
    border-bottom: 1px solid #ccc;
}

.header-container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 10px 20px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.header-top-right{
    display: flex;
    gap: 10px;
}

.header-top-right a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.header-top-right a:hover{
    color: #999;
}

.header-main{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid #ccc;
    top: 0;     
    z-index: 10; 
    padding: 10px 0; 
}

.header-catalog{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-catalog a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 5px 0;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: 600;
  }
  
  .header-catalog a:hover {
    color: #333;
  }
  
  .header-catalog a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;
  }
  
  .header-catalog a:hover::after {
    width: 100%;
  }
  
  .header-catalog a.active::after {
    width: 100%;
    background: #333;
  }
  
  .header-catalog a.active {
    color: #333;
  }
  
.header-main-right{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.header-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 15px;
    border: 2px solid #999;
}

.header-search:hover{
    border-color: #000;
}

.search-input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px 10px;
    width: 200px;
    border-radius: 50px;
    transition: width 0.3s ease-in-out;
}

.search-input:focus {
    width: 250px;
    border-color: #000;
}

.search-icon {
    right: 10px;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    margin: 0 5px;
}

.burger-menu {
    display: none;
}
  
.burger-icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.header-bottom {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
}

.header-bottom-text {
    position: absolute;
    width: 100%;
    color: #25d366;
}

@media (max-width: 800px) {
    .header-catalog {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      z-index: 100;
    }
  
    .header-catalog.open {
      display: flex;
    }
  
    .burger-menu {
      display: block;
    }
  }

@media (max-width: 450px){
    .search-input{
        width: 100px;
        height: 20px;
    }

    .search-input:focus{
        width: 120px;
    }

    .header-logo img {
        width: 60px;
        height: 20px;
    }
}