/* Стили для header */
.header {
    max-width: 1700px;
    margin: 0 auto;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0; 
    z-index: 10; 
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-right{
    display: flex;
    gap: 10px;
}


.header-top-right a{
    text-decoration: none;
    color: #000;
}

.header-main{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header-catalog{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-catalog a {
    position: relative;
    text-decoration: none;
    color: #000; 
    padding: 5px 0;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.header-catalog a:hover{
    color: #333;
}

.header-catalog a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, hsl(0, 0%, 0%), hsl(0, 0%, 0%), hsl(0, 0%, 0%)); 
    transition: width 0.3s ease;
  }
  
  .header-catalog a:hover::after {
    width: 100%;
  }

.header-bottom{
    display: flex;
    justify-content: center;
}
