.profile-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: white;
    border: 1px solid #dddddd84;
    border-radius: 2px;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  