.recommended-container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.recommended-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.recommended-shoes {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px;
    scrollbar-width: none;
}

.recommended-shoes::-webkit-scrollbar {
    height: 8px; 
}

.recommended-shoes::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 10px;
}

.recommended-shoes-card {
    min-width: 200px; 
    height: 500px;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
    overflow: hidden;
}

.recommended-shoes-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1px;
}
