.recommended-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.recommended-shoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.recommended-shoes-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.recommended-shoes-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recommended-shoes-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out; 
}

.shoe-info {
    padding: 15px;
    text-align: left;
}

.shoe-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.shoe-subtitle {
    font-size: 14px;
    color: #757575;
    margin-bottom: 10px;
}

.shoe-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
