.adresses {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: hsl(0, 0%, 56%);
    justify-content: center;
}

.address {
    color: hsl(0, 0%, 56%);
    text-decoration: none;
}

.address:hover {
    color: black;
}