.adresses {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: hsl(0, 0%, 56%);
    justify-content: center;
}

.address {
    color: hsl(0, 0%, 56%);
    text-decoration: none;
}

.address:hover {
    color: black;
}

.reg-info p {
    font-size: 15px;
    color: #555;
}

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  text-align: start;
  font-size: 12.5px;
  color: hsl(0, 0%, 56%);
}

.form-label span {
  color: red;
  margin-left: 3px;
}

.form-input,
.input-error {
  width: 95%;
  height: 50px;
  padding: 8px 13px 7px;
  margin-top: 5px;
  border: 1px solid hsla(0, 0%, 84%, 0.195);
  border-radius: 2px;
  background-color: hsla(0, 0%, 84%, 0.195);
}

.form-input:focus,
.input-error:focus { 
  background-color: white;
  border: 1px solid hsla(0, 0%, 84%, 0.195);
  outline: none;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  text-align: left;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-password {
  cursor: pointer;
  font-size: 14px;
  right: 50px;
  user-select: none;
}

.generated-code {
  font-size: 14px;
  color: #555;
}

.form-footer {
  margin: 15px 0;
  font-size: 13px;
  color: #555;
}

.form-actions {
  display: flex;
  align-items: center;
}

.form-actions span {
  color: red;
  margin-left: 30px;
  margin-right: 10px;
}

.submit-button {
  padding: 15px 70px;
  font-size: 15px;
  background-color: hsl(0, 2%, 8%);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
}

.get-code-btn {
  padding: 15px 70px;
  font-size: 15px;
  background-color: hsl(0, 2%, 8%);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: hsl(0, 0%, 0%);
}
