/* General Layout and Typography */
.adresses {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: hsl(0, 0%, 65%);
  justify-content: center;
}

.address {
  color: hsl(0, 0%, 65%);
  text-decoration: none;
}

.address:hover {
  color: hsl(0, 0%, 20%);
}

.reg-info p {
  font-size: 16px;
  color: #444;
}

/* Form Layout */
.centered-form {
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 650px;
margin: 0 auto;
padding: 25px;
}

.form-group {
display: flex;
flex-direction: column;
width: 100%;
margin-bottom: 30px;
}

.form-label {
display: block;
margin-bottom: 12px;
text-align: start;
font-size: 13px;
color: hsl(0, 0%, 60%);
}

.form-label span {
color: red;
margin-left: 4px;
}

/* Input Fields */
.form-input,
.input-error {
width: 100%;
height: 55px;
padding: 10px 15px;
margin-top: 6px;
border: 1px solid hsla(0, 0%, 80%, 0.2);
border-radius: 4px;
background-color: hsla(0, 0%, 85%, 0.2);
}

.form-input:focus,
.input-error:focus { 
background-color: white;
border: 1px solid hsl(0, 0%, 80%);
outline: none;
}

.input-error {
border-color: red;
}

.error-message {
color: red;
font-size: 13px;
margin-top: 5px;
text-align: left;
}

/* Password Toggle and Additional Elements */
.input-container {
position: relative;
display: flex;
align-items: center;
gap: 10px;
}

.toggle-password {
cursor: pointer;
font-size: 15px;
position: absolute;
right: 10px;
user-select: none;
}

.generated-code {
font-size: 15px;
color: #666;
}

/* Form Footer */
.form-footer {
margin: 20px 0;
font-size: 14px;
color: #555;
}

.form-actions {
display: flex;
align-items: center;
}

.form-actions span {
color: red;
margin-left: 35px;
margin-right: 12px;
}

/* Buttons */
.submit-button,
.get-code-btn {
padding: 16px 75px;
font-size: 16px;
background-color: hsl(0, 5%, 15%);
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
width: 45%;
margin-bottom: 18px;
}

.submit-button:hover,
.get-code-btn:hover {
background-color: hsl(0, 0%, 10%);
}

/* Responsiveness */
@media (max-width: 768px) {
.centered-form {
  padding: 20px;
  max-width: 100%;
}

.form-input,
.input-error {
  height: 50px;
}

.submit-button,
.get-code-btn {
  width: 100%;
  padding: 14px 60px;
}
}
